@import url('https://fonts.googleapis.com/css2?family=Ysabeau&family=Zeyada&display=swap');

:root {

   font-size: 16px;
   --font-cursive: 'Zeyada', cursive;
   --font-title-section: ;

   --color-primary: #7A5347;
   --color-dark: #42342e ;
   --color-medium: #a08375;
   --color-medium-light: #ccb59d;
   --color-light: #E5E1DD;

}