@import url('https://fonts.googleapis.com/css2?family=Ysabeau&family=Zeyada&display=swap');

:root {

   font-size: 16px;
   --font-cursive: 'Zeyada', cursive;
   --font-title-section: ;

   --color-primary: #886358; /* Utilizado */
   --color-dark: #644538 ;
   --color-medium: #D1C7BD; /* Utilizado */
   --color-light: #dfd7cd;
}