@import "variables.css";
@import "base.css";

@import "resposive.css";

/* CABEÇALHO */
.header {
   width: 100vw;
}

.header .container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 50px;
   padding: 25px 0;
}

.header__image {
   transition: all 200ms ease;
}

.header__image:hover {
   opacity: 0.8;
}

.header__main h1 {
   font-family: var(--font-cursive);
   padding-bottom: 8px;
   text-align: center;
}

.header__main .list {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 12px 0;
}

.header__main .list li {
   margin: 8px 8px;
}

.header__main .list li a {
   padding: 6px 6px;
   text-decoration: none;
   color: var(--color-primary);
   border-radius: 18px;
   transition: text-shadow 200ms;
}

.header__main .list li a:hover {
   text-shadow: 1px 1px 5px var(--color-medium-light);
}

.header__main .list li a:active {
   color: #000000;
}



/* CONTEÚDO DO SITE */
/* QUEM FOI  */
.about {
   padding: 50px 0;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.about__info {
   display: flex;
   justify-content: center;
   gap: 25px;
}

.about__info__groups {
   display: flex;
   align-items: center;
   gap: 20px;
}

.about__info__groups__text,
.about__dad__text {
   line-height: 1.5em;
   text-align: justify;
}

.about__dad {
   display: flex;
   align-items: center;
   gap: 20px;
   
}



/* VIDA */
.life .container {
   padding: 50px 0;
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.life__card {
   display: flex;
   border: 1px solid var(--color-light);
   padding: 30px;
   margin: 0 -50px;
}

.life__card__education {
   flex-direction: row;
   gap: 2em;
   border-radius: 0 50px 0 50px;
   
}

.life__card__education .image1 {
   align-self: flex-start;
}

.life__card__education__text {
   align-self: center;
   line-height: 1.5rem;
   margin: 25px 0;
}

.life__card__education .image2 {
   align-self: flex-end;
}

.life__card__paint {
   border-radius: 50px 0 50px 0;
}



/* FRASES */
.phrases .container {
   padding: 50px 0;
}




/* CONTRIBUIÇÕES */
.contributions .container {
   padding: 50px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contributions .section-title {
   margin-bottom: 25px;
}

.contributions__cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 50px;
}

.contributions__card {
   background-color: #f0f0f0;
   width: 180px;
}

.contributions__card img {
   width: 100%;
}

/* MORTE */
.death .container {
   padding: 50px 0;
}



/* RECOMENDAÇÕES */
.recomendations .container {
   padding: 50px 0;
}



/* RODAPÉ */
.footer {
   padding: 50px 0;
   text-align: justify;
   background-color: var(--color-light);
}

.footer p {
   font-size: 0.9rem;

}

.footer__description {
   margin: 0 0%;
   display: flex;
   gap: 50px;
}

.footer__about {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px 0 0 0;

}

.footer__about__icons {
   display: flex;
   gap: 18px;
   padding: 12px 0;
}

.footer__about__icons a {
   transition: scale 200ms;
}

.footer__about__icons a:hover {
   scale: 1.3;
}